/node_modules
/public/hot
/public/storage
/public/upload/*
.sqls
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/database/admin.sql
.idea/ workspace.xml
.idea/